{% extends "base.html" %}
{% block content %}

{% include "flash.html" %}

    <table>
        <thead>
            <tr>
                <th>Date création</th>
                <th>Action</th>
                <th>Message original</th>
                <th>Clé</th>
                <th>Résultat</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>{{entry.created_at.strftime("%d/%m/%Y à %Hh%M")}}</td>
                <td>{{entry.action}}</td>
                <td>{{entry.message}}</td>
                <td>{{entry.key}}</td>
                <td>{{entry.result}}</td>
                <td> <a href="{{ url_for('delete_history', entry_id=entry.id) }}">Supprimer</a></td>
            </tr>
            {% endfor %}

        </tbody>

    </table>

    


    



{% endblock %}