{% extends "base.html" %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Action</th>
                <th>Message original</th>
                <th>Clé</th>
                <th>Résultat</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>{{entry.id}}</td>
                <td>{{entry.action}}</td>
                <td>{{entry.message}}</td>
                <td>{{entry.key}}</td>
                <td>{{entry.result}}</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>

    


    



{% endblock %}